<table class="main container">
  <!-- OVERRIDE IMAGE_TEXT_CTA -->
  <tr>
    <td>
      <table class="row collapse">
        <tr>
          <th class="small-12 columns">
            <!-- Nouveau header : bandeau image personnalisé -->
            <%= image_tag 'https://participons-au-cncph.fr/Newsletter.png', alt: "Bandeau newsletter", style: "width:100%; display:block;" %>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table class="spacer">
        <tbody>
          <tr>
            <td height="40px" style="font-size:40px; line-height:40px;"> </td>
          </tr>
        </tbody>
      </table>

      <% if has_main_image? %>
        <table class="row content image">
          <tr>
            <th class="small-12 first columns">
              <%= main_image %>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      <% end %>

      <table class="row content">
        <tr>
          <th class="small-12 first columns">
            <%= introduction %>
            <% if has_cta? %>
              <p>&nbsp;</p>
              <table class="button expanded radius">
                <tr>
                  <td>
                    <table>
                      <tr>
                        <td>
                          <%= link_to cta_text, cta_url, target: :blank %>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <p>&nbsp;</p>
            <% end %>
            <%= body %>
          </th>
          <th class="expander"></th>
        </tr>
      </table>

      <table class="row">
        <tr>
          <th class="small-12 first columns">
            <!-- (Éventuels autres contenus du template) -->
          </th>
          <th class="expander"></th>
        </tr>
      </table>

      <table class="row">
        <tr>
          <th class="expander"></th>
          <th class="small-12 first columns cityhall-bar">
            <div class="decidim-logo" style="float: right; text-align: right; padding-right: 16px">
              <% if custom_url_for_mail_root.present? %>
                <%= link_to organization.name.html_safe, custom_url_for_mail_root %>
              <% else %>
                <%= link_to organization.name.html_safe, decidim.root_url(host: organization.host) %>
              <% end %>
            </div>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
